<h1 class="cover-heading">Software Development is fun.</h1>
<p class="lead">Software development should NOT be a secret process, when I take on a new project, I make it my goal to not only deliver a well crafted product, but to also ensure that each stage of the process is fully communicated.</p>
<p class="lead">
  <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-secondary" %>
</p>
